@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cairo&family=Lobster&family=Montserrat+Alternates:ital@1&family=Oswald:wght@300&display=swap');

/* start variables*/
:root {
    --main-color: #013e56;
    --secondary: #024864;
    --light: #4cb3db;
    --lighter: #b8e3f4;
}
/* End varibale */


/* start global rules  */
* {
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    font-family: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
}

.heading {
    font-size: 6rem;
    color: #7db4c746;
    margin: 0;
    text-align: center;
}

.heading + p {
    font-size: 12px;
    text-align: center;
    margin: -30px;
    color: #002331bc;
    margin-left: 60px ;
}

@media (max-width: 767px) {
    .heading {
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    .heading + p {
        margin-top: -18px;
    }
}

body {
font-family: 'Abril Fatface', cursive;
font-weight: 400;
}

/* end global rules */

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    /* width: 80%; */
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
.header {
    padding: 20px;
}  

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .container a {
    cursor: pointer;
}

.header .links {
    position: relative;
    cursor: pointer;
}

.header .icons:hover span:nth-child(2) {
    width: 100%;
}

.header .links .icons {
    width: 30px;
    display:flex ;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.header .icons span {
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    margin-block: 1px;
}
.header .icons span:nth-child(2) {
    width: 60%;
    transition: .3s ease-in-out;
}

.header .links ul {
    position:absolute;
    right: 0;
    top: calc(100% + 20px);
    min-width: 200px;
    background-color: var(--lighter);
    display: none;
    transition: .3s;
    color: var(--main-color);
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--lighter) transparent;
    top: -20px;
    position: absolute;
    right: 5px;
}

.header .links ul a {
    display: block;
    padding: 15px;
    transition: .3s;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid var(--secondary);
}
/* End header */

/* Start intro */
.landing {
    background-image: url('/assets/images/main\ copy.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 78px);
    position: relative;
    z-index: -1;
}

.landing .intro_text { 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 340px;
    max-width: 100%;;
}

.landing .intro_text h1 {
    font-size: 3rem;
    font-weight:900;
    color: var(--secondary);
    padding-bottom: 1rem;
}

.landing .intro_text p {
    font-size: small;
    font-weight: 100;
    color: var(--lighter);
}
/*End intro */

/* Start features section */
.features {
    padding-block: 40px;
    background-color: #f9f9f9be;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features__feature {
    padding: 20px;
    text-align: center;
}

.features__feature i {
    font-size: xx-large;
    color: var(--light);
    padding-bottom: 10px;
}

.features__feature h3 {
    font-size: large;
    color: var(--main-color);
    padding-bottom: 15px;
}

.features__feature p {
    font-size: smaller;
    color: #002331bc;
    font-size: 14px;
}
/*End features section */

/*Start services section */

.services {
    padding-block: 40px;
}

.container .services__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
    place-items: center;
}

.col .service {
    display: flex;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .col .service {
        flex-direction: column;
        text-align: center;
    }
}

.col .service i {
    font-size: larger;
    color: var(--light);
    padding-right: 5px;
    flex-basis: 30px;
    padding-top: 5px;
}

.col .service__content {
    flex: 1;
}
.col .service h3 {
    font-size: large;
    font-weight: 100;
    color: var(--main-color);
    padding-bottom: 5px;
    margin: 0;
}

.col .service p {
    font-size: 14px;
    color: #002331bc;
}

.col .image {
    width: 250px;
    height: 250px;
    text-align: center;
    position: relative;
    /* border-radius: 10%;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff; */
}

.col .image img {
    width: 100%;
    /* border-radius: 10%; */
    /* margin-right: -30px; */
}

@media (max-width: 1199px) {
    .col .image {
        display: none;
    }
}

.col .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary);
    width: 80px;
    height: calc(100% + 60px);
    top:-30px;
    right: -30px;
    z-index: -1;

}
/*End services section */

/* Start portfolio */
.portfolio {
    padding-block: 40px;
    background-color: #f9f9f9be;
}

.portfolio .portfolio__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;
    place-items: center;
}

.portfolio__card {
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    text-align: center;
    border-radius: 10px;
}

.portfolio__card img {
    max-width:100%;
}

.portfolio__card .card__content{
    padding: 20px;
}

.portfolio__card .card__content h3 {
    margin: 0px;
    color: var(--main-color)
}

.portfolio__card .card__content p {
    color: #002331bc;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
}
/* End portfolio */

/* start About  */
.about {
    padding-top: 40px;
    padding-bottom: 100px;
}

.about__content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .about__content {
        flex-direction: column;
        text-align: center;
    }
}


.about__content .image {
    position: relative;
    width: 212.5px;
    height: 231px;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .about__content .image {
        margin: 0 auto 30px;
    }
}

.about__content .image img {
    max-width:100%;
    border-radius: 10px;
}

.about__content .image::before {
    content: '';
    position: absolute;
    background-color: #7db4c746;
    left: -30px;
    width: 89px;
    height: calc(100% + 40px);
    top: -15px;
    z-index: -1;
}

.about__content .image::after {
    content: '';
    position: absolute;
    right: -30px;
    width: 100px;
    height: 80%;
    border-left: 65px solid var(--light);
    border-bottom: 65px solid var(--light);
    top: -15px;
    right: -130px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about__content .image::before,
    .about__content .image::after {
        display: none;
    }
}

.about__content .about__info {
    flex-basis: calc(100% - 450px);
}


.about__content .about__info p:first-of-type {
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--main-color);
}

.about__content .about__info hr {
    width: 50%;
    border-color: var(--light);
    display: inline-block;
}

.about__content .about__info p:last-of-type {
    font-weight: smaller;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #002331bc;
}
/* End about */

/* Start contact us */
.conatct__us {
    padding-block: 40px;
}

.conatc__info {
    margin-top: 100px;
    text-align: center;
}

.conatc__info p {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
}

.conatc__info a {
    color: var(--light);
    font-size: 18px;
    font-weight: 400;
}

.social__conacts {
    margin-top: 20px;
}

.social__conacts i {
    color: var(--light);
    margin-left: 5px;
    font-size: medium;
}
/* End contact us */

/* Start footer*/

.footer {
    width: 100%; 
    background-color: var(--secondary);
    text-align: center;
    font-size: 10px;
    padding-block: 10px;
}

.footer p {
    color: var(--lighter);
    letter-spacing: 1.2px;
}

.footer p span {
    color: var(--light);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.footer p span:hover {
    color: var(--lighter);
}



/*End footer */